#circle-profile-card-img-perfil {
    background: rgb(117, 117, 117);
    border-radius: 50%;
    width: 325px;
    height: 325px;
  }
  
  #review-card-perfil {
    text-align: center;
  }
  
  #photo-profile-box-perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  #add-photos-container-card-perfil {
    width: 400px;
    height: 400px;
  }
  
  #section3-box-talent-card-perfil {
    background: rgb(117, 117, 117);
    width: 375px;
    height: 375px;
  }
  
  #section-photos-card-perfil {
    margin-top: 75px;
  }
  
  #buttons-final-card-perfil {
    height: 493px;
  }
  
  #intercambio-button-card-perfil {
    margin-right: 4vw;
  }
  
  #intercambio-button-card-perfil,
  #seguirviendo-button-card-perfil {
    margin-top: 103px;
  }
  